bbs-routes.*
embedding-tree.*
graphical-check.*
occupancy_scatter.*
route-tsne.*
route_tsne.*
roc-test.*
detect-dist-plot.*
centroid-displacement.*
persist-dist-plot.*
movement-distributions.pdf
convhmm-perf.pdf
