neural_ecology.pdf
neural_ecology.tex
neural_ecology_files
ieee.csl
neural_ecology.docx
neural_ecology_submit.tex
appendix_s1.pdf
appendix_s2.pdf
appendix_s3.pdf
appendix_s1.tex
appendix_s2.tex
appendix_s3.tex
